.page1 {
    background: rgba(0, 0, 139, .70);
}

.page2 {
    background-image: url("./bioSiteImages/Flag.jpg");
    background-size: cover;
    /*./bioSiteImages/*/
}

.page3 {
    background-image: url("./bioSiteImages/starwars.jpg");
}

#navbar {
    overflow: hidden;
    background-color: gray;
    border-bottom: solid 15px darkblue;
    padding-left: 10%;
    font-size: 1.15em;
}

h1 {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 3%;
    font-size: 4em;
}

h2 {
    text-align: center;
    margin-top: 8%;
    padding-bottom: 1%;
    color: white;
    font-size: 4em;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 8px;
    margin: 0 10% 0;
}

#image-gallery {
    margin-top: 5%;
}

.portrait {
    border: 1px solid black;
    margin: 5% 20% 0;
}

.image1 {
    border: 1px solid black;
}

.image2 {
    border: 1px solid black;
}

.image3 {
    border: 1px solid black;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 1.15em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.landpic {
    background-color: rgba(0, 0, 0, 0);
}

p.intro {
    text-align: center;
    color: gray;
    font-size: 1.25em;
    padding: 2% 1% 1%;
    line-height: 1.6em;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 1% 15% 0%;
}

p {
    text-align: center;
    color: gray;
    font-size: 1.25em;
    padding: 10px 1%;
    line-height: 1.6em;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0% 15% 0%;

}

.deepdive {
    text-align: center;
    margin-top: 20%;
    padding-bottom: 10%;
}

.footer {
    margin-top: 20%;
    float: right;
    padding-bottom: 20px;
    padding-right: 2%;
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    color:blueviolet;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: dodgerblue;
    color: black;
}